@import url(https://fonts.googleapis.com/css?family=Lato:600);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900);
body {
  background: grey;
  background-color: #191929;
  color: white;
  font-size: 15px;
}

.main-about {
  font-family: Lato, sans-serif;
  height: 100vh;
  width: 75vw;
  float: left;
  /*      border: 2px solid red; */
  position: relative;
}
.main-about .aboutContent-photo {
  height: 60%;
  /*  border: 2px solid rgb(48, 85, 24); */
  display: flex;
  align-items: center;
}
@media screen and (max-width: 690px) {
  .main-about .aboutContent-photo {
    height: 50%;
  }
}
.main-about .aboutContent-photo .aboutContent {
  height: 95%;
  width: 40%;
  /*         border: 2px solid rgb(32, 7, 143); */
  position: relative;
  text-align: right;
  font-weight: bold;
  padding: 10px;
  padding-right: 40px;
}
@media screen and (max-width: 690px) {
  .main-about .aboutContent-photo .aboutContent {
    font-size: 2.5rem;
    width: 100%;
  }
}
.main-about .aboutContent-photo .aboutContent .contentTitle {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  font-size: 5rem;
  text-transform: uppercase;
  color: #66E8E4;
  /*        border: 2px solid rgb(32, 7, 143); */
}
@media screen and (max-width: 1350px) {
  .main-about .aboutContent-photo .aboutContent .contentTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 690px) {
  .main-about .aboutContent-photo .aboutContent .contentTitle {
    font-size: 2rem;
    width: 100%;
  }
}
.main-about .aboutContent-photo .aboutContent .contentText {
  /*             border: 2px solid rgb(32, 7, 143); */
  padding-left: 20%;
  font-size: 1.4rem;
}
@media screen and (max-width: 1350px) {
  .main-about .aboutContent-photo .aboutContent .contentText {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 785px) {
  .main-about .aboutContent-photo .aboutContent .contentText {
    font-size: 1rem;
  }
}
@media screen and (max-width: 690px) {
  .main-about .aboutContent-photo .aboutContent .contentText {
    font-size: 1.2rem;
  }
}
.main-about .aboutContent-photo .photo {
  height: 95%;
  width: 60%;
  /*   border: 2px solid rgb(143, 7, 86); */
  background-color: #2f3238;
  text-align: center;
}
@media screen and (max-width: 1350px) {
  .main-about .aboutContent-photo .photo {
    font-size: 3rem;
  }
}
@media screen and (max-width: 690px) {
  .main-about .aboutContent-photo .photo {
    display: none;
  }
}
.main-about .aboutContent-photo .photo #image_01 {
  background: url("../assets/photo_2019-12-20_11-14-10.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  border: 2px solid white;
}
.main-about .aboutContent-photo .photo #image_01:hover #image_01_hover03 {
  opacity: 0.3;
  cursor: pointer;
}
.main-about .aboutContent-photo .photo #image_01:hover #image_01_hover {
  opacity: 1;
  left: -60px;
}
.main-about .aboutContent-photo .photo #image_01:hover #image_01_hover02 {
  left: 60px;
  opacity: 1;
}
.main-about .aboutContent-photo .photo p1 {
  position: relative;
  top: 15px;
  left: 15px;
}
.main-about .aboutContent-photo .photo #image_01_hover {
  width: 200px;
  height: 100px;
  background-color: transparent;
  border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-right: 0px solid #fff;
  position: relative;
  top: 150px;
  left: -170px;
  margin: auto;
  padding: auto;
  opacity: 0;
  transition: all 0.4s;
  color: #fff;
  font-size: 40px;
  font-family: Lato, sans-serif;
  font-weight: 600;
  padding-right: 50px;
}
.main-about .aboutContent-photo .photo #image_01_hover02 {
  width: 200px;
  height: 100px;
  background-color: transparent;
  border-left: 0px solid #fff;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  position: relative;
  top: 50px;
  left: 170px;
  margin: auto;
  padding: auto;
  opacity: 0;
  transition: all 0.4s;
  color: #fff;
  font-size: 40px;
  font-family: Lato, sans-serif;
  font-weight: 600;
}
.main-about .aboutContent-photo .photo #image_01_hover03 {
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  opacity: 0;
}
.main-about .title-about {
  height: 5%;
  /*     border: 2px solid rgb(48, 85, 24); */
  display: flex;
  /*  justify-content: center; */
  /*      align-items: center; */
  /*  background: rgba(255, 255, 255, 0.1); */
  font-size: 30px;
  padding-left: 62%;
}
@media screen and (max-width: 785px) {
  .main-about .title-about {
    font-size: 30px;
  }
}
@media screen and (max-width: 690px) {
  .main-about .title-about {
    height: 5%;
    font-size: 20px;
  }
}
.main-about .title-about * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: all 0.8s ease;
}
.main-about .title-about .rotating-text {
  font-family: Lato, sans-serif;
  font-weight: 600;
  color: #66E8E4;
  transform: translateX(-80px);
}
.main-about .title-about .rotating-text p {
  display: inline-flex;
  margin: 0;
  vertical-align: top;
}
.main-about .title-about .rotating-text p .word {
  position: absolute;
  display: flex;
  opacity: 0;
}
.main-about .title-about .rotating-text p .word .letter {
  transform-origin: center center 25px;
}
.main-about .title-about .rotating-text p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}
.main-about .title-about .rotating-text p .word .letter.in {
  transition: 0.38s ease;
}
.main-about .title-about .rotating-text p .word .letter.behind {
  transform: rotateX(-90deg);
}
.main-about .title-about .alizarin {
  color: #e74c3c;
}
.main-about .title-about .wisteria {
  color: #8e44ad;
}
.main-about .title-about .peter-river {
  color: #3498db;
}
.main-about .title-about .emerald {
  color: #2ecc71;
}
.main-about .title-about .sun-flower {
  color: #f1c40f;
}
.main-about .members-wrap {
  height: 30%;
  /*         border: 2px solid rgb(48, 85, 24); */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  padding: 10px 60px;
  padding-top: 20px;
}
@media screen and (max-width: 690px) {
  .main-about .members-wrap {
    height: 45%;
  }
}
.main-about .members-wrap .member {
  font-family: Lato, sans-serif;
  border-radius: 5px;
  /*    border: 2px solid $neon; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-about .members-wrap .member .yana {
  background: url("../assets/photo_2019-12-20_11-32-42.jpg") left center;
}
.main-about .members-wrap .member .danik {
  background: url("../assets/photo_2019-12-20_11-32-26.jpg") center center;
}
.main-about .members-wrap .member .sanya {
  background: url("../assets/photo_2019-12-20_11-32-27.jpg") center center;
}
.main-about .members-wrap .member .member-photo {
  width: 80px;
  height: 80px;
  border: 2px solid #66E8E4;
  margin-right: 20px;
  border-radius: 50%;
  background-size: cover;
}
@media screen and (max-width: 690px) {
  .main-about .members-wrap .member .member-photo {
    width: 90%;
    height: 90%;
  }
}
.main-about .members-wrap .member .member-info {
  width: 60%;
  height: 100px;
  /*      border: 2px solid $neon; */
  padding-top: 20px;
}
@media screen and (max-width: 690px) {
  .main-about .members-wrap .member .member-info {
    display: none;
  }
}
.main-about .members-wrap .member .member-info strong {
  text-transform: uppercase;
  margin-bottom: 5px;
}

.side-bar {
  height: 100vh;
  width: 20vw;
  /*     border: 2px solid red; */
  float: right;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-bar .photoSide {
  margin-top: 17px;
  width: 88%;
  height: 200px;
  border: 2px solid white;
  transition: 0.5s;
  background-repeat: no-repeat;
  position: center;
  background-size: cover;
}
.side-bar .photo1 {
  margin-top: 10px;
}
.side-bar .photoSide:hover {
  width: 95%;
  height: 210px;
  border: 3px solid #66E8E4;
}

.btns {
  height: 100px;
  position: relative;
  width: 200px;
  /*   border: 1px solid red; */
}

.btns_more {
  background: transparent;
  border: 2px solid #66E8E4;
  border-radius: 50px;
  padding: 8px 12px;
  color: #66E8E4;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  outline: none;
  transform: translateY(50px);
  margin-top: -40px;
  margin-left: -40px;
  transition: 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .side-bar {
    display: none;
  }

  .main-about {
    width: 95vw;
  }
}
.photo1 {
  background-image: url("../assets/photo_2019-12-20_11-14-09.jpg");
}

.photo2 {
  background-image: url("../assets/photo_2019-12-20_11-14-11.jpg");
}

.photo3 {
  background-image: url("../assets/photo_2019-12-20_11-32-42.jpg");
}

.photo4 {
  background-image: url("../assets/photo_2019-12-20_11-14-11 (2).jpg");
  background-position: center center;
}

.photo1:hover {
  background-image: linear-gradient(to top, rgba(102, 232, 228, 0.3), rgba(102, 232, 228, 0.3)), url("../assets/photo_2019-12-20_11-14-09.jpg");
}

.photo2:hover {
  background-image: linear-gradient(to top, rgba(102, 232, 228, 0.3), rgba(102, 232, 228, 0.3)), url("../assets/photo_2019-12-20_11-14-11.jpg");
}

.photo3:hover {
  background-image: linear-gradient(to top, rgba(102, 232, 228, 0.3), rgba(102, 232, 228, 0.3)), url("../assets/photo_2019-12-20_11-32-42.jpg");
}

.photo4:hover {
  background-image: linear-gradient(to top, rgba(102, 232, 228, 0.3), rgba(102, 232, 228, 0.3)), url("../assets/photo_2019-12-20_11-14-11 (2).jpg");
}

/*# sourceMappingURL=about.css.map */
