*,
*:before,
* after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(0deg, rgb(0, 0, 0), transparent),
    url('https://i.pinimg.com/originals/d3/af/2b/d3af2bde0480a5faabaf188c5a2be3bb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(70, 66, 66);
  font-style: normal;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-animation {
  left: 0px;
  transition: 0.5s;
}

.dark {
  display: none;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  z-index: 2;
}

.navbar {
  display: flex;
  width: 1260px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.all_items {
  display: flex;
  align-items: center;
}

.all-items {
  display: flex;
  align-items: center;
}

.item {
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 45px;
  font-size: 18px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  cursor: pointer;
  opacity: 0.5;
}

.item:hover {
  opacity: 1;
  transition: 0.5s;
}

.active {
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 48px 45px;
  border: 1px solid white;
  border-radius: 3px;
}

.event-info {
  display: flex;
  align-items: center;
  height: 52vh;
  position: relative;
  z-index: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  max-width: 575px;
  height: 288px;
  margin-left: 170px;
}

.wrap-items {
  border: 2px solid red;
  height: 29vh;
  position: relative;

  /*   .items{
    border: 2px solid rgb(117, 161, 66);
    height: 100%;

    display: flex;
    align-items: center;

  } */

  .arrow {
    position: absolute;
    top: 70px;
    padding: 0;
    background: #444;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    /*     color: #444; */
    display: block;
  }

  .arrow:focus {
    outline: none;
  }

  .arrow:hover {
    background: #ccc;
    cursor: pointer;
  }

  .prev {
    left: 15px;
  }

  .next {
    right: 15px;
  }

  .items {
    border: 2px solid rgb(103, 149, 202);
    width: 93%;
    overflow: hidden;
    margin: auto;

    ul {
      margin: 0;
      padding: 0;
      height: 190px;
      width: 100%;
      border: 2px solid rgb(103, 202, 103);
      list-style: none;
      transition: margin-left 250ms;
    }

    li {
      display: inline-block;
      border: 2px solid rgb(103, 202, 103);
      height: 100%;
      width: 345px;
      margin: 0;
    }
  }
}

.burger-icon {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
  left: 40px;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5;
}

.burger-line,
.burger-line::after,
.burger-line::before {
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: white;
  transition: 0.3s;
}

.burger-line::before {
  content: ' ';
  top: -5px;
}

.burger-line::after {
  content: ' ';
  top: 5px;
}

.burger-active .burger-line {
  background-color: transparent;
  transition: 0.3s;
}

.burger-active .burger-line::after {
  top: 0;
  transform: rotate(45deg);
  transition: 0.3s;
}

.burger-active .burger-line::before {
  top: 0;
  transform: rotate(-45deg);
  transition: 0.3s;
}

@media screen and (max-width: 1300px) {
  .item {
    padding: 5px 35px;
    font-size: 16px;
  }

  .active {
    opacity: 1;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 35px;
    border: 1px solid white;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1068px) {
  .all-items {
    display: flex;
  }

  .item {
    padding: 5px 10px;
    font-size: 14px;
  }

  .active {
    opacity: 16;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px;
    border: 1px solid white;
    border-radius: 3px;
  }
}

@media screen and (max-width: 690px) {
  .burger-icon {
    display: flex;
  }

  header {
    left: -300px;
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #121212;
    transition: 0.5s;
    z-index: 3;
  }
  .navbar {
    position: fixed;
    height: 500px;
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .all-items {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .item {
    font-weight: 400;
    transition: 0.5s;
    padding: 10px 45px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    opacity: 0.5;
  }

  .active {
    opacity: 16;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 10px;
  }
}

/*----------------------------------INFO-EVENT------------------------------------*/
.title {
  font-size: 56px;
  font-weight: 700;
}

.description {
  font-size: 42px;
  font-weight: 400;
}

.data-time-location {
  color: white;
  font-size: 28px;
  font-weight: 400;
  opacity: 0.7;
}
.button-all {
  display: flex;
}
.button {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  align-items: center;
  width: 180px;
  height: 46px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}

.buy {
  background: #4444ff 0% 0% no-repeat padding-box;
}
.buy:hover {
  transition: 0.7s;
  background: #181869 0% 0% no-repeat padding-box;
}
.more-info:hover {
  transition: 0.7s;
  border-color: #181869;
}
.more-info {
  border: 3px solid #4444ff;
  border-radius: 100px;
}
