* {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  font-family: 'Roboto', sans-serif;
  background-color: black;
  font-style: normal;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  width: 1260px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.all_items {
  display: flex;
  align-items: center;
}

.item {
  font-weight: 400;
  transition: 0.5s;
  padding: 10px 45px;
  font-size: 18px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  cursor: pointer;
  opacity: 0.5;
}

.active {
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  padding: 48px 45px;
  border: 1px solid white;
  border-radius: 3px;
}

.item:hover {
  opacity: 1;
  transition: 0.5s;
}

body {
  height: 1080px;
  background-color: grey;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  background-repeat: no-repeat;
  opacity: 0.8;
}
