.contentSupport{
  margin: 0 auto;
  margin-top: 5vh;
  max-width: 700px;
  display: flex;
}
.titleSupport {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.contacts {
  text-align: center;
  font-size: 18px;
}

.formSupport {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #4444ff;
    color: white;
  }

  .button:hover {
    background-color: #130080;
  }

  .input {
    padding: 5px;
    font-size: 22px;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid white;
    background: none;
    margin-bottom: 15px;
  }

  .input:focus {
    outline: 0;
  }

  label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
}